<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../scripts/vue.min.js"></script>
    <script src="../scripts/xscroll/build/standalone/xscroll.min.js"></script>
    <script src="../scripts/xscroll/build/standalone/plugins/infinite.min.js"></script>
    <script src="../scripts/vue-componets/xscroll/index.js"></script>
    <style>
        body {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
        }

        #scroll {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <div id="demo">
        <xscroll id="scroll">
            <template v-for="i in 1000">
                <div v-if="i%10===0" class="sticky" style="background-color:red;">sticky{{i}}</div>
                <div v-else>{{i}}</div>
            </template>
        </xscroll>
    </div>
    <script>
        var vm = new Vue({
            el: "#demo",
            components: {
                "xscroll": vueXscroll
            },
            mounted: function () {

            }
        });
    </script>
</body>
</html>